.paging {
    justify-content: center;
    color: rgb(14, 16, 15);
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    
}

.paging a {
    justify-content: space-between;  

    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(210, 100, 100);
    text-shadow: 2px 1px whitesmoke;
    margin: 1px;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

.paging a:hover {
    transition: 0.8s;
    transform: scale(1.5);
    background-color: rgba(0, 0, 0, 1);


}

