.nav {
    background: rgba(33, 32, 32, 1);
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-around;   
    position: sticky;
    top: 0;
}

.nav h3 {
    color: whitesmoke;
    text-shadow: 2px 1px rgb(210, 100, 100);
    font-size: x-large;  
}

.nav h3:hover {
    color: brown;
    transform: scale(1.1);
}